body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('../images/teste_2.png');
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 1fr 5vh;
    min-height: 100vh;
}

nav
{
    
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(25px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100px;
    padding: 30px;
    grid-row-start: 1;
    grid-row-end: 1;
    box-sizing: border-box;
}

ul, button, input
{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 16px;
    color: edf0f1;
    outline: none;
    padding: 0;
}

.menu li:hover
{
     transform: scale(1.08);
}

li a
{
    text-decoration: none;
    color: white;
}

nav li
{
    display: inline-block;
    padding: 30px;
}


.menu-user
{
    background-color: rgba(255, 255, 255, 0.103);
    padding: 8px;
    display: flex
;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    width: auto;
    gap: 5px;
    cursor: pointer;
    color: white;
    position: relative;
    z-index: 10;
}

.user_img
{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
    cursor: pointer;
}

.usuario-dropdown {
    display: block; /* escondido por padrão */
    position: absolute;
    top: 90px; /* aparece logo abaixo do nav */
    right: 30px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    border-radius: 10px 0 10px 10px;
    padding: 10px;
    color: white;
    z-index: 100;
    width: 235px;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none; /* não clica quando invisível */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#userDropdown.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}



.usuario-dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.usuario-dropdown ul li {
    padding: 10px;
    display: flex;
    align-items: center;
}

.usuario-dropdown ul li a {
    margin-left: 10px;
    text-decoration: none;
    color: white;
}

.usuario-dropdown ul li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    cursor: pointer;
}

.usuario-dropdown .bi
{
    padding: 0 10px 0 0;
    font-weight: 400;
    font-size: 27px;
}

.sair:hover
{
    color: rgb(255, 0, 0);
}

.banner
{
    display: flex;
    position: relative;
}

.banner-foto img
{
    display: flex;
    position: absolute;
    width: 300px;
    height: 380px;
    bottom: 460px;
    left: 1180px;
    object-fit: cover;
    z-index: 5; /* garante que fique sobre o fundo */
}

.blur
{
    background-color: rgba(0, 0, 0, 0.39);
    filter: brightness(0.5) blur(15px);
}

.nome-evento
{
    width: 500px;
    margin: 0;
    overflow: hidden;
    padding: 30px;
    display: flex;
    text-align: center;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 500px;
    text-transform: uppercase;
    font-size: 30px;

    
}

.descricao-evento
{
    font-size: 20px;
    text-transform: none;
}

.evento-detalhes {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background-color: rgba(37, 32, 32, 0.219);
    color: #f1f1f1;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    font-family: 'Poppins', sans-serif;
}


#finalizarCompra {
    background: rgba(39, 141, 39, 0.666);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    z-index: 3;
    display: block;
    margin: 20px auto;
}

#finalizarCompra:hover {
    background: rgba(42, 207, 42, 0.666);
    color: white;
    box-shadow: 0 0 18px rgba(44, 218, 44, 0.666);
    transform: scale(1.05);
}

.evento-detalhes .ingressos {
    margin-top: 25px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.evento-detalhes .ingressos label {
    font-weight: bolder;
}

.evento-detalhes .ingressos input[type="number"] {
    width: 200px;
    padding: 6px 10px;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    background-color: #d8d8d84f;
    color: #ffffff;
}

.evento-detalhes .ingressos p {
    margin: 0;
    font-size: 16px;
}

.ingressos #valorTotal, #total-text
{
    font-family: 'Poppins' sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 30px;
}

 #total-text
 {
    text-transform: uppercase;
    font-weight: bolder;
 }

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.425);
    grid-row-start: 3;
    grid-row-end: 3;
    color: white;
    text-align: center;
}